[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "ReSukiSU"]
	path = ReSukiSU
	url = https://github.com/ReSukiSU/ReSukiSU
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu
	branch = gki-android12-5.10
