# Versioning
CONFIG_LOCALVERSION="-bruhduded"
CONFIG_LOCALVERSION_AUTO=n

# Symbollist
CONFIG_UNUSED_KSYMS_WHITELIST="abi_symbollist.raw"

# Efficient power work queue
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# Samsung kernel security disable
CONFIG_UH=n
CONFIG_FIVE=n
CONFIG_SECURITY_DEFEX=n

# BBR3 TCP CONG
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR3=y
CONFIG_DEFAULT_BBR3=y
CONFIG_DEFAULT_TCP_CONG="bbr3"

# Clang simple optimization
CONFIG_LTO_CLANG_THIN=y
CONFIG_POLLY_CLANG=y
